---

import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<div class="min-h-screen flex items-center justify-center bg-black">
		<div id="heroText" class="text-5xl font-display font-2 bg-gradient-to-r from-blue-600 via-fuchsia-500 to-indigo-400 inline-block text-transparent bg-clip-text p-4 text-center">
			<span>13. rocnik</span> <br/>
			<span class="text-7xl uppercase">najvacsieho robotickeho suboja v kosiciach</span> <br/>
			<span>3. jun 2024</span>
		</div>
	</div>
</MainLayout>