<footer id="footer" class="w-full p-2 mt-3 bg-indigo-600">
    <div class="w-max mx-auto space-x-4">
        <a href="mailto:marcincakova.katarina@gmail.com" target="_blank" aria-label="mail to my email address" class="no-underline">
            <i class="fa-solid fa-at self-center"></i>
        </a>
        <a href="https://www.linkedin.com/in/katarinamarcincakova/" target="_blank"  aria-label="Navigates to LinkedIn profile" class="no-underline">
            <i class="fa-brands fa-linkedin-in self-center"></i>
        </a>
        <a href="https://github.com/KatkaMarcincakova" target="_blank" aria-label="Navigates to GitHub profile" class="no-underline">
            <i class="fa-brands fa-github self-center"></i>
        </a>
    </div>
    <div class="w-max mx-auto text-xs">
        Katarína Marcinčáková © 2023
    </div>
</footer>